@import url('https://fonts.googleapis.com/css?family=Cinzel|Gudea');

.alignRight{
  text-align: right;
}

#alignRight{
  text-align: right;
}

.collegeCol{
  margin-right: 2%;
}

.fontSmall{
  font-size: 10px;
}

.headerFont{
  font-size: 30px;
  font-family: 'Cinzel', serif;
}

.adminCol {
  margin-right: 3%;
}

.techHeader {
  font-size: 20px;
  font-family: 'Gudea', sans-serif;
}

.componentHeader{
  text-align: center; 
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

.componentText{
  font-family: 'Gudea', sans-serif;
}

.dateStyle{
  font-family: 'Cinzel', serif;
  font-weight: bold; 
}

.soundCloud{
  margin-top: 2%;
}

.toolbarLeftCol{
  background: linear-gradient(to right, white, black)

}

.toolbarMidCol {
  background-color: black;
  border-color: white;
  border-style: solid;
  border-width: thin;   
}

.toolbarRightCol {
  background: linear-gradient(to left, white, black)
}

